@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url(./mdx.css);

  :root {
    --color-secondary-txt: rgba(251, 252, 254, 0.85);
  }

  time {
    @apply font-mono;
  }

  * {
    @apply antialiased;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  /*
   *
   */
  [data-rehype-pretty-code-title] {
    @apply px-3.5 py-2 border-[rgba(235,240,251,.18)] border rounded-t-xl;
  }

  [data-rehype-pretty-code-title] + pre {
    @apply border-l border-r border-b border-[rgba(235,240,251,.18)] rounded-b-xl;
  }

  code [data-highlighted-line] {
    @apply bg-slate-500;
  }
}

@layer components {
  .doc {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  @media (min-width: 640px) {
    .doc {
      flex-direction: row;
    }
  }

  @media (min-width: 768px) {
    .doc {
      height: 1056px;
    }
  }

  .doc-side {
    flex: 0 0 250px;
  }

  @media print {
    .doc {
      display: flex;
      flex-direction: row;
      height: 100%;
    }

    .doc-side {
      @apply h-screen;
    }
  }
}
