@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  body {
    @apply font-sans font-normal;
  }

  p {
    @apply leading-relaxed;
  }
}

@layer components {
  .doc {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  @media (min-width: 640px) {
    .doc {
      flex-direction: row;
    }
  }

  @media (min-width: 768px) {
    .doc {
      height: 1056px;
    }
  }

  .doc-side {
    flex: 0 0 250px;
  }

  @media print {
    .doc {
      display: flex;
      flex-direction: row;
      height: 100%;
    }

    .doc-side {
      @apply h-screen;
    }
  }
}
